@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Great+Vibes&family=Inter&family=Kaushan+Script&family=Roboto:ital,wght@1,500&display=swap");
.prueba {
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  color: white;
}

.prueba button {
  background-color: #f5f5dc;
  border: 2px solid red;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  font-weight: 800;
}

.apuesta {
  border: 5px solid #41ae45;
  width: fit-content;
  color: white;
  background-color: rgb(80, 80, 80);
  font-family: "Dancing Script", cursive;
  font-family: "Great Vibes", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Kaushan Script", cursive;
  font-family: "Roboto", sans-serif;
}
.probandou {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .probandou {
    margin-right: 0rem;
    width: 100%;
    flex-direction: column;
  }
  .prueba button {
    font-size: 20px;
  }
}
