@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Great+Vibes&family=Inter&family=Kaushan+Script&family=Roboto:ital,wght@1,500&display=swap");
.prueba {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.prueba button {
  background-color: #f5f5dc;
  border: 2px solid red;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  font-weight: 800;
  z-index: 1;
}

.apuesta {
  border: 5px solid #ffa500;
  width: fit-content;
  color: white;
  background-color: rgb(80, 80, 80);
  position: relative;
  font-family: "Dancing Script", cursive;
  font-family: "Great Vibes", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Kaushan Script", cursive;
  font-family: "Roboto", sans-serif;
}

.probandou {
  display: flex;
  justify-content: end;
  margin-right: 1rem;
  gap: 0.5rem;
  z-index: 1;
}

@media screen and (max-width: 550px) {
  .probandou {
    margin-right: 0rem;
  }
}
