/* Estilos para la página */
.page {
  display: flex;
  align-items: start; /* Centrar horizontalmente */
  justify-content: center; /* Centrar verticalmente */
  background: rgb(5, 65, 158);
  background: linear-gradient(
    90deg,
    rgba(5, 65, 158, 1) 30%,
    rgba(2, 21, 51, 1) 50%,
    rgba(5, 65, 158, 1) 66%
  );
  padding: 20px; /* Espaciado interior para dispositivos pequeños */
  gap: 15px;
  flex-wrap: wrap;
}

/* Estilos para el formulario */
.form {
  text-align: center;
  margin-bottom: 20px;
}

.label {
  font-size: 24px; /* Tamaño de fuente más grande */
  margin-bottom: 10px;
  color: #fff; /* Texto blanco */
  font-weight: bold; /* Texto en negrita */
}

.select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Estilos para las tarjetas de resultados */
.primeracarta,
.segundacarta,
.terceracarta,
.cuartacarta {
  margin-bottom: 20px;
  border: 3px solid #ffd700; /* Borde amarillo fosforescente */
  border-radius: 10px; /* Borde más redondeado */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ancho al 100% para dispositivos pequeños */
  max-width: 220px; /* Ancho máximo para dispositivos grandes */
  background: #fff; /* Fondo blanco */
  padding: 20px; /* Espaciado interior para dispositivos pequeños */
  font-weight: 800;
}
.ant-card-head-title {
  font-weight: 800;
}
.primeracarta p,
.segundacarta p,
.terceracarta p,
.cuartacarta p {
  font-size: 16px;
  color: #333; /* Texto negro */
  
}

@media screen and (max-width: 1000px) {
  .page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    justify-items: center;
    grid-template-areas:
      "select select"
      "ganador1 ganador2"
      "ganador3 ganador4";
  }
  .primeracarta {
    grid-area: ganador1;
  }
  .segundacarta {
    grid-area: ganador2;
  }
  .terceracarta {
    grid-area: ganador3;
  }
  .cuartacarta {
    grid-area: ganador4;
  }
  .form {
    grid-area: select;
  }
}
