.container {
  background: rgb(5, 65, 158);
  background: linear-gradient(
    90deg,
    rgba(5, 65, 158, 1) 30%,
    rgba(2, 21, 51, 1) 50%,
    rgba(5, 65, 158, 1) 66%
  );
  min-height: 100vh;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  gap: 15px;
  background-color: white;
  width: 30%;
  padding: 30px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 20px;
}

.contenedorTodo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.preview {
  background-color: white;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.preview h2 {
  text-align: center;
}

.bloque {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.title {
  color: white;
  font-size: 40px;
  padding: 10px;
}

.input {
  width: 95%;
}

.titlePreview p {
  width: 100%;
  text-align: center;
}
