@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Great+Vibes&family=Inter&family=Kaushan+Script&family=Roboto:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Great+Vibes&family=Inter&family=Kaushan+Script&family=Roboto+Condensed&family=Roboto:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Great+Vibes&family=Inter&family=Kaushan+Script&family=Roboto+Condensed&family=Roboto+Mono&family=Roboto:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");
.container {
  min-height: 100vh;
  background: rgb(5, 65, 158);
  background: linear-gradient(
    90deg,
    rgba(5, 65, 158, 1) 30%,
    rgba(2, 21, 51, 1) 50%,
    rgba(5, 65, 158, 1) 66%
  );
}
.pala {
  color: white;
}
.centrar {
  text-align: center;
  text-decoration: underline;
}
.corredorestitulo {
  color: black;
  font-weight: bold;
  font-size: larger;
}

.botonganadores {
  padding: 15px 30px;
  border-radius: 50px;
  color: #fff;
  background-color: #41ae45;
  border: 2px solid #ffa500;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

.botonganadores:hover {
  background-color: #f70505; /* Cambio de color al pasar el mouse */
  transform: scale(1.05); /* Efecto de escala al pasar el mouse */
}

.selectCarreraContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem auto;
  gap: 20px;
}

.selectCarreraContainer select {
  padding: 0.8rem;
  border: 3px solid #41ae45;
  /* background-color: #f5f5dc; */

  border-radius: 10px;
  width: 20%;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.formContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
}

.formContainer form {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: beige;
  padding-bottom: 20px;
  padding: 30px;
  border-radius: 20px;
  gap: 10px;
  font-size: 20px;
  height: 35rem;
  width: 12rem;
  position: relative;
  box-shadow: 5px 5px 10px black;
  font-family: "Dancing Script", cursive;
  font-family: "Great Vibes", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Kaushan Script", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

.formContainer form input {
  position: absolute;
  bottom: 10%;
}
.formContainer form select {
  width: 90%;
  border: 2px solid #ffa500;
}

.formContainer form button {
  position: absolute;
  bottom: 3%;
}

.formContainer form h2 {
  text-decoration: underline;
}
.puntosGanados {
  position: absolute;
  bottom: 15%;
  font-size: 30px;
  font-weight: bold;
  color: #119b1cc9;
  text-align: center;
}
.puntosGanados label {
  color: black;
}
.selectCarrera {
  position: absolute;
  bottom: 10%;
}

.containerInfoUser {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  width: 100%;
  font-size: 20px;
}

.contendorUser {
  background-color: rgba(255, 255, 255, 0.664);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 2px 2px 5px;
  width: 30%;
  padding: 1rem;
}

.contImageLogo {
  display: flex;
  align-items: center;
}

.infoUsuario {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  width: 100%;
  font-family: "Bitter", serif;
}

.infoUsuario img {
  width: fit-content;
}

.avisoNoLogin {
  font-size: 20px;
  text-align: center;
  width: 10rem;
  position: absolute;
  bottom: 5%;
}

.navbarMisApuestas {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5rem;
}

.preview {
  background-color: #f5f5dc;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 50px;
  border: 10px solid #119b1cc9;

  box-shadow: 2px 2px 5px;
}

.preview h2 {
  margin: 0;
  padding: 0;
  font-size: 50px;
}

.preview select {
  width: 80%;
  margin: 2rem;
}

.bloque {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-family: "Dancing Script", cursive;
  font-family: "Great Vibes", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Kaushan Script", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-weight: bold;
}

.MisApuestas {
  width: 100%;
  text-align: center;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.whatsapp {
  display: flex;
  justify-content: end;
  position: sticky;
  bottom: 20px; /* Posición desde la parte inferior */
  right: 10px;
  margin: 2rem;
}

.buttonPerfil {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* ------------------------------------------------- */
@media screen and (max-width: 790px) {
  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    width: 100vw;
  }
  .containerInfoUser {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
  }
  .contendorUser {
    width: 70%;
  }
  .infoUsuario {
    width: 100%;
    justify-content: space-evenly;
  }
  .infoUsuario img {
    width: 100%;
  }

  .formContainer form {
    height: fit-content;
    position: static;
  }
  .formContainer form input {
    position: static;
  }
  .formContainer form button {
    position: static;
  }

  .avisoNoLogin {
    font-size: 20px;
    text-align: center;
    width: 10rem;
    position: initial;
  }
  .puntosGanados {
    position: static;
  }
  .selectCarrera {
    position: static;
  }
}

/* Media querys -- responsive*/
@media screen and (max-width: 590px) {
  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    width: 100vw;
  }
  .containerInfoUser {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
  }
  .creditosIMG img {
    width: 20%;
  }
  .contImageLogo {
    width: 100%;
  }
  .contImageLogo img {
    width: 100%;
  }
  .selectCarreraContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .selectCarreraContainer select {
    width: 80%;
  }
  .preview {
    padding: 0px;
    width: 90%;
    gap: 0;
    font-size: 15px;
    font-weight: 800;
  }
  .preview h2 {
    font-size: 30px;
    text-align: center;
    width: 90%;
  }

  .preview select {
    width: 90%;
  }
  .preview .bloque {
    gap: 20px;
  }

  .contendorUser {
    width: 70%;
  }
  .infoUsuario {
    width: 100%;
    justify-content: space-evenly;
  }
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbarMisApuestas {
    flex-direction: column;
    position: static;
  }
}
