.container {
  min-height: 100vh;
  background: rgb(5, 65, 158);
  background: linear-gradient(
    90deg,
    rgba(5, 65, 158, 1) 30%,
    rgba(2, 21, 51, 1) 50%,
    rgba(5, 65, 158, 1) 66%
  );
}

.formContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 10rem;
}

.formContainer form {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: beige;
  padding-bottom: 20px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 20px;
  gap: 10px;
  font-size: 18px;
  height: 25rem;
}

.formContainer form input {
  width: 90%;
}

.containerInfoUser {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.infoUsuario {
  background-color: orange;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  font-weight: 600;
  padding: 2rem;
}

.infoUsuario img {
  width: fit-content;
}

/* ------------------------------------------------- */
/* Media querys -- responsive*/
@media screen and (max-width: 500px) {
  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    width: 100vw;
  }
  .containerInfoUser {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
}
