.container {
  min-height: 100vh;
  background: rgb(5, 65, 158);
  background: linear-gradient(
    90deg,
    rgba(5, 65, 158, 1) 30%,
    rgba(2, 21, 51, 1) 50%,
    rgba(5, 65, 158, 1) 66%
  );
  display: flex;
  justify-content: center;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.formContainer form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: beige;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  gap: 10px;
  font-size: 18px;
}

.infoUsuario {
  background-color: orange;
  height: fit-content;
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  font-weight: 600;
  position: absolute;
}

.infoUsuario img {
  width: 30px;
}
