.container {
  min-height: 100vh;
  background: rgb(5, 65, 158);
  background: linear-gradient(
    90deg,
    rgba(5, 65, 158, 1) 30%,
    rgba(2, 21, 51, 1) 50%,
    rgba(5, 65, 158, 1) 66%
  );
}

.registrate {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  text-align: center;
}

.registrate h1 {
  margin: 0;
  font-size: 55px;
  color: gold;
  width: 25rem;
}

.registrate p {
  margin: 0;
  font-size: 25px;
  color: white;
  width: 25rem;
}

.registrate a {
  text-decoration: none;
  color: orange;
}

.span {
  text-shadow: 2px 2px 5px white;
}

.containerForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}

.campoForm {
  display: flex;
  gap: 5px;
  border-bottom: 1px solid black;
  width: 60%;
}

.campoForm input {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 20px;
}

.termCondic {
  display: flex;
  gap: 5px;
  color: white;
}

.termCondic a {
  gap: 5px;
  color: orange;
}

.logo {
  width: 40%;
}

.logo img {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .registrate h1 {
    margin: 0;
    font-size: 45px;
    color: gold;
    width: 100%;
  }
  .registrate p {
    margin: 0;
    font-size: 25px;
    color: white;
    width: 100%;
  }
  .containerForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
  }
  .logo {
    width: 100%;
  }
  .inputs {
    width: 100%;
  }
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px;
  }
}
