.registerContainer {
  min-height: 100vh;
  width: 100%;
  background: rgb(5, 65, 158);
  background: linear-gradient(
    90deg,
    rgba(5, 65, 158, 1) 30%,
    rgba(2, 21, 51, 1) 50%,
    rgba(5, 65, 158, 1) 66%
  );
}

.registrate {
  width: 20em;
  text-align: start;
  margin: 50px;
}

.registrate p {
  font-size: 20px;
  color: white;
}

.registrate a {
  text-decoration: none;
  color: magenta;
}

.form {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 30rem;
  margin: 50px;
}

.form input {
  border: none;
  outline: none;
  margin-top: 0;
  background-color: transparent;
}

.campoForm {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.title {
  color: gold;
  margin: 0;
  font-size: 55px;
}

.button {
  width: fit-content;
}

.termCondic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.termCondic p {
  font-size: 19px;
  margin-left: 10px;
  color: white;
}

.logo {
  max-width: 40rem;
}

.logo img {
  width: 100%;
}

.pruebaCont {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.prueba2 {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
}
