* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 24px; /* Cambia el tamaño de fuente */
  color: #333; /* Cambia el color del texto */
  /* Agrega más propiedades de estilo según tus necesidades */
}
.ant-card-head-title {
  font-weight: 800;
}