.container {
  background: rgb(5, 65, 158);
  background: linear-gradient(
    90deg,
    rgba(5, 65, 158, 1) 30%,
    rgba(2, 21, 51, 1) 50%,
    rgba(5, 65, 158, 1) 66%
  );
  min-height: 85vh;
  color: white;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  gap: 15px;
  text-align: center;
  font-size: 20px;
  color: black;
  font-weight: 700;
}

.containerForm {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.previewCorredor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  color: black;
  width: 25rem;
  font-size: 20px;
  font-weight: 700;
  min-height: 40rem;
}

.previewCorredor p {
  width: 100%;
  height: 5rem;
  text-align: center;
  overflow-y: scroll;
}

.img {
  width: 40%;
  border-radius: 20%;
}
